/* Font for Title of Certificate */
  @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Cookie&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

form {
    padding: 10em;
    display: flex;
    border: 2px black solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex-flow: column wrap;
    width: fit-content;
}

.button-container {
    padding-top: 1em;
}

input[type=text] {
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #CB2D2D;
    padding: 1.5em;
    border-radius: 15%;
}

input[type=radio] {
    margin-right: 0.5em;
}

div {
    display: flex;
    flex-flow: row-reverse wrap;
}

.input-container {
    display: flex;
    justify-content: center;
}

.certificate-container {
    border: 2px black solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.certificate-container h2 {
    font-family: 'Cookie';
    font-size: 4em;
}

.line {
    background-color: black;
    width: 20em;
    height: 0.1em;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 5em;
}

.name-container h3 {
    font-size: 4em;
    text-align: center;
}

.certify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 2em;
}

.certify-container h4 {
    font-size: 2em;
    text-align: center;
}

.certify-container div {
    width: 30em;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.bottom-container div {
    width: 10em;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 20%;
    /* Change this! */
    margin: 0 0;
}

#signature {
    font-family: 'Cookie';
    font-size: 3em;
}

#date {
    font-size: 2em;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

h3#desc {
    width: 50%;
    text-align: center;
    font-style: italic;
}

/* Backgrounds & Seals of Certificates */
.basement {
    background-image: url(Background-Imgs/basement.jpg);
    background-size: contain;
    background-repeat: none;
    color: white;
    text-shadow: 0.2em 0 black;
}

.curtain {
    background-image: url(Background-Imgs/curtain.gif);
    background-size: contain;
    background-repeat: none;
    color: black;
}

.curtain h2 {
    color: white;
    text-shadow: 0.1em 0 black;
}

.obscure {
    background-image: url(Background-Imgs/obscure.jpg);
    background-size: contain;
    background-repeat: none;
    color: white;
    text-shadow: 0.2em 0 black;
}

@media print {
    .input-container {
        display: none;
    }

    h1 {
        display: none;
    }
}