* {
    box-sizing: border-box;
    margin: 0 auto;
}

h1, h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

form {
    padding: 10em;
    display: flex;
    border: 2px black solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex-flow: column wrap;
    width: fit-content;
}

.button-container {
    padding-top: 1em;
}

input[type=text] {
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #CB2D2D;
    padding: 1.5em;
    border-radius: 15%;
}

input[type=radio] {
    padding-right: 1.5em;
}

div {
    display: flex;
    flex-flow: row-reverse wrap;
}

.input-container {
    display: flex;
    justify-content: center;
    /* Make it invisible when button press */
}

.certificate-container {
    border: 2px black solid;
    width: 100%;
    /* Make it visible when button press */
}

/* Add media query for certificate container with print */